@using global::DTOs
@inherits LayoutComponentBase
@inject SettingsService SettingsService
                
@* <FluentDesignTheme Mode="DesignThemeModes.Dark" OfficeColor="OfficeColor.PowerBI"/> *@
<FluentDesignTheme Mode="@Mode" OfficeColor="@OfficeColor" />

<script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
<loading-theme storage-name="theme"></loading-theme>


<FluentLayout>

    <FluentHeader>
        AIPlatform2
        <FluentSpacer />
     
        <FluentButton   Title="Quick Settings" OnClick="@onclickingsettings">
            <FluentIcon  Style="padding: 0px 12px;" Value="@(new Icons.Regular.Size48.Settings())" />
        </FluentButton>
     
    </FluentHeader>
   
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">

            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<FluentToastProvider />
<FluentDialogProvider  />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />





                  
@code
{
    private DesignThemeModes Mode { get; set; } = DesignThemeModes.Dark;
    private OfficeColor OfficeColor { get; set; } = OfficeColor.Default;

    protected override void OnInitialized()
    {
        // Read saved values from SettingsService (no changes to SettingsService required)
        try
        {
            Mode = SettingsService.GetThemeMode();
            OfficeColor = SettingsService.GetThemeColor();
        }
        catch
        {
            // If anything goes wrong, keep defaults rather than crashing.
            Mode = DesignThemeModes.Dark;
            OfficeColor = OfficeColor.Default;
        }

        base.OnInitialized();
    }


    private IDialogReference? _dialog;
    private readonly SettingsDTO Settings = new()
    {
        
    };

    [Inject]
    private IDialogService DialogService { get; set; }

    private async Task onclickingsettings()
    {
        await ShowSimplePanelAsync(Settings);
    }

    private async Task ShowSimplePanelAsync(SettingsDTO Settings)
    {
        DialogParameters<SettingsDTO> parameters = new()
        {
            Content = Settings,
            Title = $"Quick Settings",
            TrapFocus=true,
            Alignment = HorizontalAlignment.Right,
            Modal = true,
            PrimaryAction = null,
            SecondaryAction = null,
            ShowDismiss = false,
         
            
        };
        // Add any required parameters to dialogParameters here

        _dialog = await DialogService.ShowDialogAsync<SettingComponent>(Settings, parameters);
        var result = await _dialog.Result;
        if (!result.Cancelled)
        {
          
        }
    }
    
   

}